* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
}

body {
    position: relative;
    /*background-color: #dfdfdf;*/
    background-image: url("../img/main-bg.png");
    background-size: 100% auto;
    font-family: 微软雅黑;
}

main {
    display: flex;
    justify-content: center;
    height: auto;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.t1 {
    font-size: 16px;
}

.t2 {
    font-size: 13px;
}

form {
    box-sizing: border-box;
    background: #fff;
    width: 81.875%;
    padding: 24px 50px;
    margin: 60px auto 102px;
}

.submit{
    width: 160px;
    height: 50px;
    margin: 25px auto;
    display: block;
    text-align: center;
    line-height: 50px;
    background: #003687;
    border-radius: 10px;
    color: #e7ffff;
    outline: none;
    cursor: pointer;
    border: none;
}

.form-group {
    margin-bottom: 24px;
}

label {
    margin-bottom: 10px;
    display: block;
}

form input[id="title"] {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2em;
}

.tag {
    overflow: hidden;
}

.tag .tag-left {
    float: left;
    width: 45%;
}

.tag .tag-right {
    float: right;
    width: 45%;
}

form .tag-left select {
    color: #757575;
    background: transparent;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 48px;
    outline: none;
    font-size: 1.2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; /* for chrome */
}

.tag .styled-select {
    position: relative;
}

/* css 画出的小图标*/
.tag .styled-select::after {
    content: "";
    position: absolute;
    right: 24px;
    top: 12px;
    width: 14px;
    height: 14px;
    border: 2px solid #07bc98;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);

}

.tag input[id="author"] {
    color: #757575;
    height: 48px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2em;
}

/* 媒体查询调整标签栏*/
@media screen and (max-width:568px) {
    .tag .tag-part {
        float: none ;
        width: auto;
        margin-bottom: 15px;
    }
}

form #editor {
    width: 100%;
}

/* form styles close*/